<aside class="side-bar">
    <div class="under-side-bar">
        <section class="side-button-container">
            <side-button [text]="'Home'" [icon]="'/icons/home.svg'"></side-button>
            <side-button [text]="'About'" [icon]="'/icons/about.svg'"></side-button>
            <side-button [text]="'Contact'" [icon]="'/icons/contact.svg'"></side-button>
            <side-button [text]="'Dates'" [icon]="'/icons/calendar.svg'"></side-button>
        </section>
        <section class="side-icons-container">
            <icon-sidebar [image]="'/icons/home.svg'"/>
            <icon-sidebar [image]="'/icons/about.svg'"/>
            <icon-sidebar [image]="'/icons/contact.svg'"/>
            <icon-sidebar [image]="'/icons/calendar.svg'"/>
        </section>
    </div>
</aside>
