<aside class="side-bar">
    <div class="under-side-bar">
        <section class="side-button-container">
            <side-button [text]="'Home'"></side-button>
            <side-button [text]="'About'"></side-button>
            <side-button [text]="'Contact'"></side-button>
            <side-button [text]="'Blog'"></side-button>
        </section>
        <section class="side-icons-container">
            <icon-sidebar [image]="'../../../../../public/icons/home.svg'"/>
            <icon-sidebar [image]="'../../../../../public/icons/home.svg'"/>
            <icon-sidebar [image]="'../../../../../public/icons/home.svg'"/>
        </section>
    </div>
</aside>
