@import "../../../../styles.scss";

.icon-sidebar {
    size: 2rem;
    padding: 0.5rem;

    @media screen and (prefers-color-scheme: dark) {
        fill: $White;
    }
    @media screen and (prefers-color-scheme: light) {
        fill: $Black;
    }
    @media screen and (prefers-color-scheme: none) {
        fill: $Black;
    }
}