@import "../../../../styles.scss";

.side-button {
    width: 15rem;
    height: 5rem;
    position: relative;
    transition: all 0.2s ease-in-out;
    outline: none;
    border: none;

    &:hover {
        background-color: $Blue;
        text-decoration-line: line-through;
        transition: all 0.2s ease-in-out;
        border-bottom: 0.1rem solid $Blue;
        
        .text-button {
            transform: translate(0rem, -1.9rem);
            transition: all 0.2s ease-in-out;
        }

        .icon-button {
            transform: translate(-2.5rem, -0.3rem);
            transition: all 0.2s ease-in-out;
        }
    }


    background-color: fade($Black, 0.95);
    color: $White;
    border-bottom: 0.1rem solid fade($White, 0.2);
}

.text-button {
    font-size: 1.6rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    color: $White;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
}

.icon-button{
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-14%, -52%);
}